body {
    background-color: lightblue;
}
body {
    font-family: Arial;
}
h1 {
    font-family: Arial;
    margin-left: 38%;
}
#porta1 {
    background-color: #9B59B6;
    color: red;
}
#porta1 {
    font-size: 25px;
}
#porta2 {
    background-color: #884EA0;
    color: red;
}
#porta2 {
    font-size: 25px;
}
#porta3 {
    background-color: #7D3C98;
    color: red;
}
#porta3 {
    font-size: 25px;
}
